@import "~@material/animation/functions";

@keyframes fade-bottom-in {
  from {
    transform: translateY(300px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate__fade-bottom-in {
  animation: mdc-animation-enter(fade-bottom-in, 700ms);
}

.animate__opacity {
  transition: mdc-animation-exit-permanent(opacity, 700ms, 150ms);
  opacity: 0;
  will-change: opacity;

  &--animating {
    transition: mdc-animation-enter(opacity, 700ms);
    opacity: 1;
  }
}

.animation__bg-image {
  transition: mdc-animation-enter(background-image, 700ms)
}

.progressive-img-container {
  filter: blur(10px);
  transition: filter 500ms ease;
}
