@import "variables";

body, .app__root {
  display: block;
  min-height: 100vh;
}

body, .mdc-drawer, .mdc-drawer .mdc-list-item {
  color: var(--mdc-theme-on-surface);
}


body, .mdc-drawer, .app__root {
  background-color: yellow;
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-surface);
}

// add styles for right/left additional sidedrawer
.app__root > footer {
  position: relative;
}

.app__root > .mdc-drawer--dismissible {
  position: fixed;
  //top: 64px;
  height: calc(100vh - 64px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: auto;
}

// add right navigation drawer styles. rtl is not sufficient
.mdc-drawer.right-align {
  height: calc(100vh - 56px);
  border-right-width: 0;
  border-left-width: 1px;
  border-right-style: none;
  border-left-style: solid;
  right: 0;
  left: initial;
}

.mdc-drawer--animate.right-align {
  transform: translateX(100%)
}

.mdc-drawer--opening.right-align {
  transform: translateX(0)
}

.mdc-drawer--closing.right-align {
  transform: translateX(100%)
}

.mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content.left-align {
  margin-left: 0;
  margin-right: 256px;
  min-height: calc(100vh - 64px);
}


// overwrite how mdc handles colors, bg-colors and borders to overwrite props correctly
.lm-content-section {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-surface);

  .mdc-button, a .mdc-button {
    color: var(--mdc-theme-text-primary-on-background);

    &.mdc-button--outlined {
      border-color: var(--mdc-theme-text-primary-on-background)
    }
  }
}

// body footer
footer .nav-list__header {
  color: $footer-nav-list-header;
  font-size: $footer-nav-list-font-size;
}

.lm-mega-menu .nav .nav-link {
  color: $mega-menu-link;

  &:hover {
    color: $mega-menu-link-hover;
  }
}

//.lm-mega-menu {
//  position: inherit;
//
//  .mdc-menu-surface {
//    margin-top: $mega-menu-margin-top;
//  }
//}

footer .nav .nav-link, footer .rmwc-collapsible-list .nav-link {
  color: $footer-link;

  &:hover {
    color: $footer-link-hover;
  }
}

footer .nav .nav-link, .lm-mega-menu .nav .nav-link {
  padding-left: 0;
}

// links
a {
  color: $default-link;

  &:hover {
    color: $default-link-hover;
  }
}

a.nav-link {
  color: inherit;
}

.lm-nav-menu {
  display: inline-flex;

  &.lm-bottomEnd {
    .mdc-menu-surface {
      left: auto !important;
      right: 0;
    }
  }
}

// section reset of default margins
.mdc-layout-grid__cell {
  > .lm-markup {
    margin-top: 1em;
    margin-bottom: 1em;

    > p, > ul {
      margin: 1em 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}


// loaded source
.app__root .material-icons {
     visibility: hidden;
   }

  .line-through {
    text-decoration: line-through;
  }

  .fonts-loaded {
    .material-icons {
      visibility: visible;
    }

  body, footer, .mdc-top-app-bar__title, .mdc-button, .mdc-drawer__title, .mdc-drawer__subtitle, .mdc-list, .nav-link, h4, [class^='mdc-typography'], [class*=' mdc-typography'] {
    font-family: var(--mdc-theme-font-default);
  }
}
