$mdc-typography-styles-button: (
  text-transform: none,
);

@import 'variables';
@import "~@material/button/mdc-button.scss";
@import "~@material/icon-button/mdc-icon-button";
@import "~@material/icon-button/mixins";
@import "~@material/fab/mdc-fab";
@import "~@material/fab/mixins";


// special designs for button lists
.lm-button-list__margin-left {
  margin-left: -12px; // moves 12 px to the left (button-icon padding)
}

.mdc-button.lm-button-large {
  height: 40px;
  font-size: 1.2rem; // 13sp
  .mdc-button__icon {
    font-size: 1.2rem;
  }
}

.mdc-icon-button.dense.rmwc-icon {
  @include mdc-icon-button-size(20px, 20px)
}

.mdc-icon-button.lm-button-large.rmwc-icon {
  @include mdc-icon-button-size(30px, 30px);
  background-size: 45px;
}

.lm-button-large.mdc-fab {
  @include mdc-fab-icon-size(30px);
  width: 64px;
  height: 64px;
  .rmwc-icon {
    background-size: 45px;
  }
}

.mdc-icon-button.lm-button-xlarge.rmwc-icon {
  @include mdc-icon-button-size(40px, 40px);
  background-size: 60px;
}

.lm-button-xlarge.mdc-fab {
  @include mdc-fab-icon-size(40px);
  width: 72px;
  height: 72px;

  .rmwc-icon {
    background-size: 60px;
  }
}

.mdc-button.lm-button-xlarge {
  height: 50px;
  font-size: 1.3rem; // 13sp
  .mdc-button__icon {
    font-size: 1.3rem;
  }
}


.mdc-button.lm-button-square {
  @include mdc-button-shape-radius(0px);
}

.mdc-button.lm-button-shaped {
  @include mdc-button-shape-radius(18px);
}

.mdc-button.lm-button-shaped.mdc-button--dense {
  @include mdc-button-shape-radius(16px);
}

.mdc-button.lm-button-shaped.lm-button-large {
  @include mdc-button-shape-radius(20px);
}

.mdc-button.lm-button-shaped.lm-button-xlarge {
  @include mdc-button-shape-radius(24px);
}
