@import "~@material/textfield/mdc-text-field";
@import "~@material/floating-label/mdc-floating-label";
@import "~@material/notched-outline/mdc-notched-outline";
@import "~@material/line-ripple/mdc-line-ripple";
@import "~@material/checkbox/mdc-checkbox";
@import "~@material/form-field/mdc-form-field";
@import "~@material/select/mdc-select";

// overwrite some defaults
.mdc-select {
  min-width: 120px;
}

// for checkboxes add red color for validation-msg
.lm-hubspot-form {
  .mdc-select-helper-text--validation-msg, .mdc-text-field-helper-text--validation-msg {
    color: #b00020 !important;
    color: var(--mdc-theme-error, #b00020) !important;
  }
}

.mdc-select__native-control {
  -webkit-appearance: none; // needs this for hiding the select arrows
}
