.lm-background-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lm-background-image.lm-bg-section__contain {
  background-size: contain;
}

.lm-background-image.lm-bg-section__repeat {
  background-repeat: repeat;
}

.lm-content-section.lm-section__full-height {
  width: 100%;
  height: 100vh;

  > .mdc-layout-grid {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.lm-video-section{
  position: relative;
  overflow: hidden;

  > .mdc-layout-grid {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

// fullscreen embed video
.lm-video-background {
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //z-index: -99;
  /*
   width: 100%;
   height: 100%;
   z-index: -1;
   overflow: hidden;
   */
  pointer-events: none;
}

.lm-video-background iframe {
  //  Given a 16:9 aspect ratio, 9/16*100 = 56.25  Given a 16:9 aspect ratio, 16/9*100 = 177.77
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
*/
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  // .lm-video-foreground { height: 300%; top: -100%; }
}

@media (max-aspect-ratio: 16/9) {
  //.lm-video-foreground { width: 300%; left: -100%; }
}
