@import "variables";

.carousel-indicators {
  li {
    cursor: pointer;
  }
}

.carousel__pagination_dark {
  .carousel-indicators {
    li.active {
      background-color: $carousel-pagination-active-color-dark;
    }
  }
}

.carousel__arrows_dark {
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
  }
}

.carousel__pagination_bottom_right {
  .carousel-indicators {
    justify-content: flex-end;
    margin-right: 0;
    position: relative;
  }
}

.carousel__pagination_circle {
  .carousel-indicators {
    li {
      margin-left: 8px;
      width: $carousel-pagination-circle-size;
      height: $carousel-pagination-circle-size;
      border-radius: 50%;

      &.active {
        transform: scale(1.2);
      }
    }
  }
}
