.lm-content-slider {
  position: relative;
  .lm-pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    //z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    cursor: pointer;

    &.pagination_light {
      color: white;
    }
  }
}
