@import "~@material/top-app-bar/mdc-top-app-bar.scss";


.lm-logo-header {
  display: flex;
  height: 100%;
  align-items: center;

  .mdc-top-app-bar__title {
    display: flex;
    height: 100%;
    align-items: center;
  }

  img {
    height: 48px;
  }
}

.lm-toolbar-row {
  margin: 0 auto;
  position: relative;
}

// make font weights bold for top nav text
.lm-toolbar__bold-text {
  .mdc-top-app-bar__section {
    > a, > .mdc-menu-surface--anchor > .mdc-button {
      font-weight: 700;
    }
  }
}

// change colors for button, label and title according to theme colors
.mdc-top-app-bar__section {
  .mdc-button, a .mdc-button, .mdc-button__label, .mdc-top-app-bar__title {
    color: var(--mdc-theme-on-primary);
  }


  .lm-search__autocomplete.mdc-text-field {
    color: var(--mdc-theme-on-primary, #fff);
    height: 2.5rem;

    [class*=mdc-notched-outline__] {
      border-color: #fff !important;
      border-color: var(--mdc-theme-on-primary, #fff) !important;
      opacity: .6;
    }

    &--focused {
      [class*=mdc-notched-outline__] {
        opacity: 1;
      }
    }

    .mdc-text-field__input {
      color: inherit;
    }

    ::placeholder {
      color: inherit;
    }

    .rmwc-icon {
      color: inherit !important;
      top: .5rem !important;
    }
  }

}

// add transparent toolbar in case feature element is present
.mdc-top-app-bar {
  // hide inverted logo
  .lm-logo__inverted {
    display: none;
  }

  &.lm-toolbar-transparent {
    background-color: transparent;

    // hide logo default and show inverted
    .lm-logo__default {
      display: none;
    }

    .lm-logo__inverted {
      display: block;
    }

    .mdc-top-app-bar__section {
      .mdc-button, a .mdc-button, .mdc-button__label, .mdc-top-app-bar__title, .mdc-top-app-bar__navigation-icon {
        color: white;
      }
    }
  }

  transition: background-color .3s ease-in-out; // nice effect if changed bg..
  &:not(.lm-toolbar-transparent) {
    border-bottom: 1px solid whitesmoke; // maybe customizable with var
  }

  .mdc-button, .mdc-list-item a {
    letter-spacing: 0; // remove letter spacing
  }

  // search styles
  .lm-toolbar-search {
    .lm-toolbar-search__input-container {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
      background-color: white;

      .mdc-text-field__input {
        border-bottom-color: transparent !important;
      }

      .lm-toolbar-search__button-clear {
        color: grey
      }
    }

    &.active {
      .lm-toolbar-search__input-container {
        display: block;
      }
    }
  }
}


// overwrite md-list-item a link styles to match
.mdc-menu .mdc-list-item {
  a {
    color: inherit;
    white-space: nowrap;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 0.875rem;

    &:focus {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

