@import "~@material/typography/mdc-typography";
@import "~@material/layout-grid/variables";

@each $size in map-keys($mdc-layout-grid-columns) {
  @include lm-media-query_($size) {
    @if not map-has-key($mdc-layout-grid-columns, $size) {
      @error "Invalid style specified! Choose one of #{map-keys($mdc-layout-grid-columns)}";
    }

    $min: mdc-layout-grid-breakpoint-min($size);
    $max: mdc-layout-grid-breakpoint-max($size);

    @if $min == null and $max != null {
      // Phone
      .mdc-typography--headline1 {
        font-size: 3.4rem;
        line-height: 3.4rem;
      }
      .mdc-typography--headline2 {
        font-size: 2.8rem;
        line-height: 2.8rem;
      }
      .mdc-typography--headline3 {
        font-size: 2.4rem;
        line-height: 2.4rem;
      }
    } @else if $min != null and $max != null {
      // Tablet
      .mdc-typography--headline1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
      }
      .mdc-typography--headline2 {
        font-size: 3.4rem;
        line-height: 3.4rem;
      }
    }
    //@else if $min != null and $max == null {
    //  // Desktop
    //
    //}
  }
}


.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-400 {
  font-weight: 300 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

a {
  text-decoration: none;
}

.text-decoration-line-through {
  text-decoration: line-through;
}
.text-decoration-underline{
  text-decoration: underline;
}
