//
//$mdc-theme-primary: #424242;
//$mdc-theme-secondary: #d81b60;
//$mdc-theme-background: #ffffff;
//$mdc-theme-surface: #ffffff;
//$mdc-theme-on-primary: #ffffff;
//$mdc-theme-on-secondary: #ffffff;
//$mdc-theme-on-surface: #424242;

$mdc-typography-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$mdc-typography-font-weight-values: (
  thin: 300,
  medium:400,
  black:700
);
$mdc-layout-grid-breakpoints: (
  desktop: 840px,
  tablet: 600px,
  phone: 0px
);

// custom app variables
$carousel-pagination-circle-size: 11px !default;
$carousel-pagination-active-color-dark: black !default;
$default-link: var(--mdc-theme-link) !default;
$default-link-hover: var(--mdc-theme-link-hover) !default;
$footer-link: var(--mdc-theme-text-primary-on-background) !default;
$footer-link-hover: var(--mdc-theme-text-primary-on-background) !default;
$mega-menu-link: var(--mdc-theme-text-primary-on-background) !default;
$mega-menu-link-hover: var(--mdc-theme-link-hover) !default;
$footer-nav-list-header:var(--mdc-theme-on-surface) !default;
