{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": [">0.5%, IE 11"]
          },
          "useBuiltIns": "usage",
          "corejs": 2
        }
      }
    ]
  ]
}
